  html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  ul > li{ 
    
    float:right;
    margin-top:10px;
    margin-right:10px;
    list-style: none;
  }
  table{
    position: relative;
    
  }
  a{
    color: white;
    text-decoration: none;
  }
  .img{
    width: 300px;
    height: 150px;
  }
   .nombre {
     display: inline-block;
   }

   
   h1{
    font-family: OpenSans-Regular, sans-serif;
    position: relative;
    left:30%;
    right: 50%;
    margin-top: 25px;
    
   }

   .usuariosButton {
    font-family: OpenSans-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 70px;
    border-radius: 12px;
    overflow: hidden;
    background: #111111;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
   }


   .usuariosButton::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
  
    background: #2575fc;
    background: -webkit-linear-gradient(right, #6a11cb, #2575fc);
    background: -o-linear-gradient(right, #6a11cb, #2575fc);
    background: -moz-linear-gradient(right, #6a11cb, #2575fc);
    background: linear-gradient(right, #6a11cb, #2575fc);
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .usuariosButton:hover {
    background-color: transparent;
  }
  .usuariosButton:hover:before {
    opacity: 1;
  }
  
   